@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://bouldercountyopenspace.org/i/wp-content/uploads/2015/11/bobcat-1280x768.jpg" alt="Bob Cat" width="500" height="600">

<p>SO NEET!!</p>

    
<p>
  <button onclick="myMove()">Click Me</button>
</p>

<div id="myContainer">
  <div id="myAnimation"></div>
</div>


<br/>
<iframe height="420" width="325" src="https://www.youtube.com/embed/watch?v=eVTXPUF4Oz4&ab_channel=LinkinPark" alt="" frameborder="1" allowfullscreen></iframe>
        
